@import url('https://fonts.googleapis.com/css2family=Roboto+Mono:ital,wght@0,400;1,500&display=swap');

@font-face {
    font-family: "Korolev Rounded";
    src: url("../fonts/KorolevRounded-HeavyItalic.eot");
    src: url("../fonts/KorolevRounded-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KorolevRounded-HeavyItalic.woff2") format("woff2"),
    url("../fonts/KorolevRounded-HeavyItalic.woff") format("woff"),
    url("../fonts/KorolevRounded-HeavyItalic.ttf") format("truetype"),
    url("../fonts/KorolevRounded-HeavyItalic.svg#KorolevRounded-HeavyItalic") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Korolev Rounded";
    src: url("../fonts/KorolevRounded-BoldItalic.eot");
    src: url("../fonts/KorolevRounded-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KorolevRounded-BoldItalic.woff2") format("woff2"),
    url("../fonts/KorolevRounded-BoldItalic.woff") format("woff"),
    url("../fonts/KorolevRounded-BoldItalic.ttf") format("truetype"),
    url("../fonts/KorolevRounded-BoldItalic.svg#KorolevRounded-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
$rfs-base-value:                20rem;

$theme-colors: (
    "black":                    #000000,
    "white":                    #ffffff,
    "black-light":              #26263a,
    "red":                      #ed5656,
    "yellow":                   #fddf66,
    "gray-light":               #ccdad1,
    "gray":                     #9caea9,
);

$font-sizes: (
    15:                         0.9375rem,
    16:                         1rem,
    17:                         1.0625rem,
    18:                         1.125rem,
    21:                         1.3125rem,
    46:                         2.875rem,
);

$font-weights: (
    "regular":                  400,
    "medium":                   500,
    "semibold":                 600,
    "bold":                     700,
    "heavy":                    900,
);

$line-heights: (
    26:                         1.625rem,
    29:                         1.8125rem,
    45:                         2.8125rem,
    51:                         3.1875rem,
);

$font-family-roboto:            "Roboto Mono", monospace;
$font-family-korolev:           "Korolev Rounded", sans-serif;
$font-family-base:              $font-family-roboto;
$font-size-base:                map-get($font-sizes, 15);
$font-weight-base:              map-get($font-weights, "light");
$font-weight-bold:              map-get($font-weights, "semibold");

$headings-font-family:          $font-family-korolev;
$headings-color:                map-get($theme-colors, "black-light");
$headings-font-weight:          map-get($font-weights, "heavy");

$h1-font-size:                  map-get($font-sizes, 46);

$body-color:                    map-get($theme-colors, "black-light");

$btn-font-size:                 map-get($font-sizes, 19);
$btn-font-weight:               map-get($font-weights, "regular");
$btn-font-family:               $font-family-roboto;
$btn-focus-width:               0;
$btn-border-radius:             3rem;
$btn-border-width:              1px;
$btn-padding-x:                 3.9rem;
$btn-padding-y:                 1rem;

$btn-close-focus-shadow:        none;

$nav-link-color:                map-get($theme-colors, "black-light");
$nav-link-hover-color:          map-get($theme-colors, "red");
$nav-link-font-size:            map-get($font-sizes, 21);
$nav-link-font-weight:          map-get($font-weights, "bold");
$nav-link-padding-x:            0;
$nav-link-padding-y:            0;

$offcanvas-bg-color:            map-get($theme-colors, "white");
$offcanvas-horizontal-width:    100%;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here
$utilities:
(
    "font-size": (
        property: font-size,
        class: fs,
        values: $font-sizes,
        rfs: true,
    ),
    "font-size-static": (
        property: font-size,
        class: fss,
        values: $font-sizes,
    ),
    "font-weight": (
        property: font-weight,
        class: fw,
        values: $font-weights,
    ),
    "font-family": (
        property: font-family,
        class: ff,
        values: (
            "roboto": $font-family-roboto,
            "korolev": $font-family-korolev,
        ),
    ),
    "line-height": (
        property: line-height,
        class: lh,
        values: $line-heights,
        rfs: true,
    ),
    "line-height-static": (
        property: line-height,
        class: lhs,
        values: $line-heights,
    ),
    "background-color-hover": (
        property: background-color,
        class: bg,
        values: map-loop($theme-colors, rgba-css-var, "$key", "bg"),
        local-vars: (
            bg-opacity: 1,
        ),
        state: hover,
    ),
    "color-hover": (
        property: color,
        class: text,
        values: $theme-colors,
        state: hover,
    ),
    "height": (
        property: height,
        class: h,
        values: (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto
        ),
        responsive: true,
    ),
    "width": (
        property: width,
        class: w,
        values: (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto
        ),
        responsive: true,
    ),
    "object-fit": (
        property: object-fit,
        class: of,
        values: (
            cover: cover,
            contain: contain,
            none: none,
        ),
        responsive: true,
    ),
    "transition": (
        property: transition,
        class: transition,
        values: (
            null: all var(--bs-transition-duration) var(--bs-transition-function)
        ),
        local-vars: (
            transition-property: all,
            transition-duration: .2s,
            transition-function: ease-in-out
        ),
    )
);

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/transitions";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here
:root {
    @each $size, $value in $font-sizes {
        --#{$prefix}font-size-#{$size}: #{$value};
    }

    @each $weight, $value in $font-weights {
        --#{$prefix}font-weight-#{$weight}: #{$value};
    }

    @each $color, $value in $theme-colors {
        --#{$prefix}#{$color}: #{$value};
    }
};
