@import "custom"

body
    margin: 68px !important
    height: calc(100% - (68px * 2))

.post
    .date
        letter-spacing: 1px

    .content
        a
            font-weight: map-get($font-weights, "semibold")
            color: var(--bs-black-light)
            transition: $transition-base

            &:hover
                color: var(--bs-red)

    &-back
        a
            mask-image: url("../images/icons/arrow-left-circle.svg")
            width: 45px
            height: 45px
            mask-size: cover
            -webkit-mask-size: cover
