[staticMenu menu]
code = "menu"
==
<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% component "seo" %}

        <link rel="stylesheet" href="{{ [
            'assets/css/theme.css',
            'assets/css/bootstrap-icons.css',
            'assets/css/lightgallery.css',
            'assets/css/lg-zoom.css',
            'assets/css/lg-thumbnail.css',
        ]|theme }}" />

        <link rel="stylesheet" href="https://use.typekit.net/vcm5kdr.css">
    </head>

    <body class="position-relative">
        <div class="offcanvas-xl offcanvas-end" id="menu">
            <div class="position-absolute end-0 top-0 d-xl-none m-4">
                <a href="#menu" data-bs-dismiss="offcanvas">
                    <img src="{{ 'assets/images/icons/arrow-left-circle.svg'|theme }}" alt="menu">
                </a>
            </div>

            {% component "menu" %}

            <div class="position-absolute end-0 bottom-0 d-xl-none">
                <a href="{{ 'homepage'|page }}">
                    <img src="{{ 'assets/images/logo.svg'|theme }}" alt="logo">
                </a>
            </div>
        </div>

        <div class="menu-toggle container position-absolute end-0 top-0 d-xl-none text-end">
            <a href="#menu" data-bs-toggle="offcanvas">
                <img src="{{ 'assets/images/icons/arrow-left-circle.svg'|theme }}" alt="menu">
            </a>
        </div>

        <main class="container-fluid px-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        {% page %}
                    </div>
                </div>
            </div>
        </main>

        <div class="logo d-none d-xl-block position-absolute end-0 bottom-0">
            <a href="{{ 'homepage'|page }}" class="d-block bg-black-light bg-red-hover transition"></a>
        </div>

        <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/popper.js',
            'assets/js/bootstrap.js',
            'assets/js/lightgallery.min.js',
            'assets/js/lg-zoom.min.js',
            'assets/js/lg-thumbnail.min.js',
            'assets/js/theme.js',
        ]|theme }}"></script>
    </body>
</html>
