{% set post = __SELF__.post %}

<div class="post">
    <div class="post-back position-absolute start-0 top-0">
        <a href="javascript:history.back()" class="d-block bg-black-light bg-red-hover transition"></a>
    </div>

    <p class="date ff-roboto fs-15 fw-regular text-gray mb-1">
        {{ post.published_at|date("j/n/Y") }}
    </p>

    <h1 class="text-uppercase mb-2 lh-51 fst-italic">
        {{ post.title }}
    </h1>

    <p class="ff-roboto fs-18 mb-3 pb-3 border-bottom border-1 border-gray lh-29 fst-italic fw-bold">
        {{ post.excerpt|raw }}
    </p>

    <div class="content fstr-110 lh-26">
        {{ post.content|raw }}
    </div>
</div>
